<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CSH Vote</title>
    <!-- <link rel="stylesheet" href="https://themeswitcher.csh.rit.edu/api/get" /> -->
    <link rel="stylesheet" href="https://assets.csh.rit.edu/csh-material-bootstrap/4.3.1/dist/csh-material-bootstrap.min.css" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      input[type='number']{
        width: 32px;
      } 
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">Vote</a>
        <div class="nav navbar-nav ml-auto">
          <div class="navbar-user">
            <img src="https://profiles.csh.rit.edu/image/{{ .Username }}" />
            <span class="text-light">{{ .FullName }}</span>
            <a href="/auth/logout" style="color: #c3c3c3;"><i>(logout)</i></a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container main p-5">
      <h2>{{ .ShortDescription }}</h2>
      {{ if .LongDescription }}
      <h4>{{ .LongDescription }}</h4>
      {{ end }}
      {{ if eq .PollType "ranked" }}
      <p>This is a Ranked Choice vote. Rank the candidates in order of your preference. 1 is most preferred, and {{ .RankedMax }} is least perferred. You may leave an option blank
      if you do not prefer it at all.</p>
      {{ end }}

      <br />
      <br />

      <form action="/poll/{{ .Id }}" method="POST">
      {{ if eq .PollType "simple" }}
        {{ range $i, $option := .Options }}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="option" id="{{ $option }}" value="{{ $option }}" />
          <label style="font-size: 1.25rem; line-height: 1.25; padding-left: 4px;" class="form-check-label" for="{{ $option }}">{{ $option }}</label>
        </div>
        <br />
        {{ end }}
        {{ if .AllowWriteIns }}
        <div class="form-check" style="display: flex;">
          <input class="form-check-input" type="radio" name="option" value="writein" />
          <input
            type="text"
            name="writeinOption"
            class="form-control"
            style="height: 1.5em; padding-left: 4px;"
            placeholder="Write-In"
          />
        </div>
        {{ end }}
      {{ end }}

      {{ if eq .PollType "ranked" }}
        {{ $rankedMax := .RankedMax }}
        {{ range $i, $option := .Options }}
        <div class="form-check" style="display: flex;">
          <input
            type="number"
            name="{{ $option }}"
            id="{{ $option }}"
            class="form-control"
            style="height: 1.5em;"
            min="0"
            max="{{ $rankedMax }}"
          />
          <label style="font-size: 1.25rem; line-height: 1.25; padding-left: 12px;" class="form-check-label" for="{{ $option }}">{{ $option }}</label>
        </div>
        <br />
        {{ end }}
        {{ if .AllowWriteIns }}
        <div class="form-check" style="display: flex;">
          <input
            type="number"
            name="writein"
            class="form-control"
            style="height: 1.5em;"
            min="0"
            max="{{ $rankedMax }}"
          />
          <input
            type="text"
            name="writeinOption"
            class="form-control"
            style="height: 1.5em; padding-left: 12px;"
            placeholder="Write-In"
          />
        </div>
        {{ end }}
      {{ end }}
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
